/*  your css code here. If applicable */
:root{
    background-color: rgb(135, 206, 235);
}

article p:first-child{
    color:white;
    background:black;
}

article p:nth-child(2){
    color:inherit;
}

article p:last-child{
    color:red;
}


ul li{
    width:50%;
    padding:10px;
    background:gray;
}

ul li:nth-child(odd){
    background:white;
}


ul li:first-child,
ul li:last-child{
    font-size:22px;
}


ul li:nth-last-child(3){
    background:pink;
}
